<div class="widget body">
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend class="section">Create New Candidate</legend>
            <div class="form-group">
                <label for="firstName" class="col-sm-4 control-label">*First Name</label>
                <div class="col-sm-7">
                    <input type="text" id="firstName" class="form-control" placeholder="Enter candidate first name"
                           ng-model="$ctrl.candidate.firstName">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-4 control-label">*Last Name</label>
                <div class="col-sm-7">
                    <input type="text" id="lastName" class="form-control" placeholder="Enter candidate last name"
                           ng-model="$ctrl.candidate.lastName">
                </div>
            </div>
            <div class="form-group">
                <label for="candidatePhone" class="col-sm-4 control-label">*Phone</label>
                <div class="col-sm-7">
                    <input type="tel" id="candidatePhone" class="form-control"
                           placeholder="Enter candidate phone. Must start with 972"
                           ng-model="$ctrl.candidate.phone">
                </div>
            </div>
            <div class="form-group">
                <label for="candidateEmail" class="col-sm-4 control-label">*Email</label>
                <div class="col-sm-7">
                    <input type="email" id="candidateEmail" class="form-control" placeholder="Enter candidate email"
                           ng-model="$ctrl.candidate.email">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Interviewer/s</label>
                <div class="col-sm-7">
                    <ui-select multiple ng-model="$ctrl.candidate.interviewerIds" theme="bootstrap"
                               ng-disabled="!$ctrl.interviewers.length" close-on-select="false">
                        <ui-select-match placeholder="Choose Interviewers...">{{$item.displayName}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="interviewer.interviewerId as interviewer in $ctrl.interviewers | filter: $select.search">
                            <div>
                                <span ng-bind-html="interviewer.firstName | highlight: $select.search"></span>
                                <span ng-bind-html="interviewer.lastName | highlight: $select.search"></span>
                            </div>
                            <small>
                                email: {{interviewer.email}}
                                phone: {{interviewer.phone}}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-1 no-padding-left">
                    <button class="btn btn-primary" uib-tooltip="Add Interviewers..." ng-click="$ctrl.openIntervieweesModal()"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="form-group">
                <label for="team" class="col-sm-4 control-label">Team</label>
                <div class="col-sm-7">
                    <input type="text" id="team" class="form-control" placeholder="Enter candidate team"
                           ng-model="$ctrl.candidate.team">
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-4 control-label">*Date</label>
                <div class="col-sm-7">
                    <input type="date" id="date" class="form-control" placeholder="Enter interview date"
                           ng-model="$ctrl.candidate.date">
                </div>
            </div>
            <div class="form-group">
                <label for="time" class="col-sm-4 control-label">*Time</label>
                <div class="col-sm-7">
                    <input type="time" id="time" class="form-control" placeholder="Enter interview time"
                           ng-model="$ctrl.candidate.date">
                </div>
            </div>
            <div class="form-group">
                <label for="image" class="col-sm-4 control-label">Image URL</label>
                <div class="col-sm-7">
                    <input type="url" id="image" class="form-control" placeholder="Enter image url"
                           ng-model="$ctrl.candidate.img">
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-7">
                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-primary" ng-click="$ctrl.saveCandidate()">Save
                            Candidate
                        </button>
                        <button type="button" class="btn btn-inverse" ng-click="$ctrl.cancel()"
                                ui-sref="candidateList">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>