.meet-logo{
    width: 100px;
    left: -23px;
    position: absolute;
    top: 4px;
}
.create-btn{
    float: right;
}
i.big{
    font-size: 20px;
}
.img-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.enter-img{
    width: 400px;
    margin-bottom: 15px;
}
.waze-btn{
    border-radius: 10px;
    width: 250px;
}
.google-maps-btn{
    border-radius: 10px;
    height: 90px;
    display: block;
    margin-top: 10px;
}
.navigation-buttons{
    margin-top: 40px;
}
.candidate-search{
    width: 250px;
}
@media (max-width: 768px) {
    .meet-logo{
     left: 0;
    }
    .wrap {
        margin-left: 0;
    }
    .enter-img {
        max-width: 100%;
    }
}
candidate-list .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

candidate-editor .btn-default,
candidate-editor .btn-default:hover,
candidate-editor .btn-default:active,
candidate-editor .btn-default:focus,
candidate-editor .btn-default:active:hover,
candidate-editor .btn-default:active:focus {
    background-color: white;
    color: #555;
}

interviewer-list section.widget {
    padding-bottom: 40px;
}
interviewer-list .create-btn {
    margin-bottom: 10px;
}
candidate-editor input[type=search]{
    background-position-y: 2px
}