<div class="content container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <section class="widget">
                <header>
                    <!--<h5>-->
                        <!--Messenger-->
                    <!--</h5>-->
                    <div class="widget-controls">
                        <a title="Properties" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                        <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                        <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                        <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="body">
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <h4>Hello {{candidateLandingPageCtrl.candidate.firstName}} {{candidateLandingPageCtrl.candidate.lastName}}</h4>
                            <p>Your interview has been scheduled for Thursday October  29th  at 12:00 with our VP Product, Igal Liberman</p>
                            <p>Our address: 5 Giboray Israel St. Netanya- Poleg Industry area.
                                The entrance to the office is on the right side of the building- behind the "Vertigo" furniture store
                                The door to the building will be on the left side, we are on the 1st floor
                            </p>
                            <p>Click here when you arrive to our office:</p>
                            <p><a class="btn btn-info btn-lg" id="show-info-message" ng-click="candidateLandingPageCtrl.imHere()">I'm Here!</a></p>
                            <div class="navigation-buttons">
                            <img class="waze-btn" src="img/waze-button.jpg">
                            <img class="google-maps-btn" src="img/google-maps-button.png">
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-4 img-container">
                            <img class="enter-img" src="img/enter1.jpg">
                            <img class="enter-img" src="img/enter2.jpg">
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>