<div class="widget body">
    <form class="form-horizontal" role="form">
        <fieldset>
            <legend class="section">Meeting Editor</legend>
            <div class="form-group">
                <label class="col-sm-4 control-label">Interviewer/s</label>
                <div class="col-sm-7">
                    <ui-select multiple ng-model="$ctrl.meeting.interviewers" theme="bootstrap"
                               ng-disabled="!$ctrl.interviewers.length" close-on-select="false">
                        <ui-select-match placeholder="Choose Interviewers...">{{$item.displayName}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="interviewer.interviewerId as interviewer in $ctrl.interviewers | filter: $select.search">
                            <div>
                                <span ng-bind-html="interviewer.firstName | highlight: $select.search"></span>
                                <span ng-bind-html="interviewer.lastName | highlight: $select.search"></span>
                            </div>
                            <small>
                                email: {{interviewer.email}}
                                phone: {{interviewer.phone}}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-1 no-padding-left">
                    <button class="btn btn-primary" uib-tooltip="Add Interviewers..."
                            ng-click="$ctrl.openIntervieweesModal()"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-4 control-label">*Date</label>
                <div class="col-sm-7">
                    <input type="date" id="date" class="form-control" placeholder="Enter interview date"
                           ng-model="$ctrl.meeting.date">
                </div>
            </div>
            <div class="form-group">
                <label for="time" class="col-sm-4 control-label">*Time</label>
                <div class="col-sm-7">
                    <input type="time" id="time" class="form-control" placeholder="Enter interview time"
                           ng-model="$ctrl.meeting.date">
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-7">
                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-primary" ng-click="$ctrl.saveMeeting()">Save Meeting
                        </button>
                        <button type="button" class="btn btn-inverse" ng-click="$ctrl.cancel()">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>